<!-- <ng-container [ngSwitch]="switchKey()">
  <div *ngSwitchCase="keys.label_updated" i18n="label_updated">更新成功</div>
  <div *ngSwitchCase="keys.label_participate" i18n="label_participate">谢谢你的参与</div>
  <div *ngSwitchCase="keys.label_wait_contact" i18n="label_wait_contact">我们将尽快联系你</div>
  <div *ngSwitchCase="keys.label_attend_confirm" i18n="label_attend_confirm">确定要报名参加吗？</div>
  <div *ngSwitchCase="keys.label_delete_confirm" i18n="label_delete_confirm">确定要删除记录？</div>
  <div *ngSwitchCase="keys.label_bind_and_create_user" i18n="label_bind_and_create_user">是否注册并绑定微信？</div>
  <div *ngSwitchCase="keys.cloud_enrolled" i18n="cloud_enrolled">你已报名成功</div>
  <div *ngSwitchCase="keys.cloud_quiz_answer" i18n="cloud_quiz_answer">你答对了{{payload[0]}}题,获得了{{payload[1]}}积分</div>
  <div *ngSwitchCase="keys.error_no_quiz_event" i18n="no_quiz_event">没有有奖问答活动</div>
  <div *ngSwitchCase="keys.error_not_allow_participation" i18n="error_not_allow_participation">你不能再参加过此次活动</div>
  <div *ngSwitchCase="keys.error_participation_times_over" i18n="error_participation_times_over">你已参加此活动{{payload?.times}}次</div>
  <div *ngSwitchCase="keys.error_already_enrolled" i18n="error_already_enrolled">不能重复报名</div>
  <div *ngSwitchCase="keys.error_reached_course_capacity" i18n="error_reached_course_capacity">课程报名人数已满</div>
  <div *ngSwitchCase="keys.error_contact_info_missing" i18n="error_contact_info_missing">请完善联系资料</div>
  <div *ngSwitchCase="keys.error_user_not_exist" i18n="error_user_not_exist">用户不存在</div>
  <div *ngSwitchDefault>{{message}}</div>
</ng-container> -->

